*{
    margin: 0;
    padding: 0;

}

.rightMesage{
    align-self: flex-end;
    padding: 1rem;
    margin: 1rem;
    border: 2px solid white;
    border-radius: 1rem;
    font-size: 18px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(134 239 172);
}

.leftMesage{
    margin: 1rem;
    align-self: flex-start;
    padding: 1rem;
    border: 2px solid black;
    border-radius: 1rem;
    font-size: 18px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
}